{% load i18n %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"
      lang="en"
      xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <title>{% block headtitle %}Exports - Infoscience{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@1.6.4/dist/css/lightgallery.min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ SITE_PATH }}/static/css/invenio.css" type="text/css"/>
    <!--[if gt IE 8]>
    <style type="text/css">div.restrictedflag {filter:none;}</style>
    <![endif]-->

    <meta name="description" content="Infoscience exports configuration."/>
    <meta name="keywords" content="Infoscience, Exports"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript">
        var INFOSCIENCE_DOMAIN = '{{ SITE_DOMAIN }}';
        var INFOSCIENCE_PATH = '{{ SITE_PATH }}';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    {% block headcss %}{% endblock %}

    <script src="{% static "js/export.js" %}" type="text/javascript"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITE_PATH }}/static/css/export.css" rel="stylesheet">

    {% block headjs %}{% endblock %}

</head>

<body class="Infoscience search">
	<div class="pageheader">

		<!-- replaced page header -->
		<div class="headerbox headerlogo">

		    <div class="topleftmenu-wrapper">
		        <ul class="menu neutrallist">
		            <li class="topleftmenu headermoduleboxbody">
                  {% if LANGUAGE_CODE == 'fr' %}
                  <a class="header-link has-img" href="//infoscience.epfl.ch/?ln=fr">
                    <img class="header-img" src="{{ SITE_PATH }}/static/img/epfl-logo.svg" alt="Infoscience"/>
                  </a>
                  {% else %}
                  <a class="header-link has-img" href="//infoscience.epfl.ch/?ln=en">
                    <img class="header-img" src="{{ SITE_PATH }}/static/img/epfl-logo.svg" alt="Infoscience"/>
                  </a>
                  {% endif %}
					</li>
		        </ul>
		    </div>

		    <a class="menu-toggle">
		        <span class="menu-icon"><i class="fa fa-fw fa-bars"></i></span>
		    </a>
		    <ul class="menu topmenu neutrallist" style="display:none;">
		        <li class="headermoduleboxbody">
					{% if LANGUAGE_CODE == 'fr' %}
					<a class="header" href="//infoscience.epfl.ch/search?ln=fr">Recherche</a>
					{% else %}
		            <a class="header" href="//infoscience.epfl.ch/?ln=en">Search</a>
					{% endif %}
		        </li>

				{% if LANGUAGE_CODE == 'fr' %}
                <li class="headermoduleboxbody">
                    <a class="header" href="http://help-infoscience.epfl.ch/">Aide</a>
                </li>
				{% else %}
                <li class="headermoduleboxbody">
                    <a class="header" href="http://help-infoscience.epfl.ch/">Help</a>
                </li>
				{% endif %}
		    </ul>
		    <div class="userinfoboxbody">
		        {% if user.is_authenticated %}
		        <i class="user-icon"></i><span class="account">{{ user.first_name }}&nbsp;{{ user.last_name }}</span><span class="separator"> :: </span>
		               <a class="userinfo logout" href="{{ SITE_PATH }}/logout">logout</a>
		        {% else %}
		        <i class="user-icon"></i><span class="account">guest</span><span class="separator"> :: </span>
		               <a class="userinfo logout" href="{{ SITE_PATH }}/login">login</a>
		        {% endif %}
          <ul class="menu neutrallist">
            <li class="headermoduleboxbody">
              <div class="hassubmenu">
                {% if LANGUAGE_CODE == 'fr' %}
                <span class="langinfo headerspan">Français</span>
                <ul class="subsubmenu">
                  <li><a class="change_lang_en" href="{{ request.path }}?ln=en">English</a></li>
                </ul>
                {% else %}
                <span class="langinfo headerspan">English</span>
                <ul class="subsubmenu">
                  <li><a class="change_lang_fr" href="{{ request.path }}?ln=fr">Français</a></li>
                </ul>
                {% endif %}
              </div>

            </li>
          </ul>
		    </div>
		</div>
		<table class="navtrailbox">
		    <tr>
		        <td class="navtrailboxbody">
					{% if LANGUAGE_CODE == 'fr' %}
					<a href="//infoscience.epfl.ch/?ln=fr" class="navtrail">Accueil</a> &gt; Résultats de la recherche
					{% else %}
		            <a href="//infoscience.epfl.ch/?ln=en" class="navtrail">Home</a> &gt; Search Results
		        	{% endif %}
		        </td>
		    </tr>
		</table>
		<!-- end replaced page header -->
	</div>

  <div class="background-image-container">
    <div class="container">

        <div class="logo-container">
          <div class="lead-logo">
            <picture class="logo-image">
              <img src="{{ SITE_PATH }}/static/img/logo_icon.svg">
            </picture>
          </div>
          <div class="header-text-after-image">
            <span id="infoscience_title">Infoscience</span>
            {% if LANGUAGE_CODE == 'fr' %}
            <span id="infoscience_pushline_fr">Unlocking Knowledge</span>
            {% else %}
            <span id="infoscience_pushline_en">Unlocking Knowledge</span>
            {% endif %}
          </div>

      </div>
    </div>
  </div>

  <div class="pagebody">
    <div class="pagebodystripemiddle">
      <h1 class="headline">{% block headline %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </div>
    {% block full-width-content %}
    {% endblock %}
  </div>

{% include "base/footer.html" %}
