{% comment %}
    from https://infoscience.epfl.ch/search?em=F
    what changed ? :
        added style="display: block" to page footer
    removed "powered by tind"
<div class="pagebody"><div class="pagebodystripemiddle"></div></div>
{% endcomment %}

<footer class="pagefooter row" style="display: block">
    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] }
        });
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>

</footer>
</body>
</html>
