{% comment %}
    from https://infoscience.epfl.ch/search?em=F
    what changed ? :
        added style="display: block" to page footer
    removed "powered by tind"
<div class="pagebody"><div class="pagebodystripemiddle"></div></div>
{% endcomment %}

<footer class="pagefooter row" style="display: block">



        <div id="botmiddle_links" class="col-sm-8 col-sm-offset-2"><a href='http://help-infoscience.epfl.ch/about'>About Infoscience</a> | <a href='mailto:infoscience@epfl.ch'>Contact</a> | <a href='http://www.epfl.ch/accessibility.en' target='_blank'>Accesibility © 2004-2018 EPFL all rights reserved</div>



        <div id="tindfooter" class="col-sm-2">
        </div>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-video,npm/lg-zoom"></script>
    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>


      <script type="text/javascript">
      </script><script async src='https://www.googletagmanager.com/gtag/js?id=UA-4833294-1'></script><script>function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag('js',new Date),gtag('config','UA-4833294-1');</script><script>
      </script>



        <!-- Piwik -->
        <script type='text/javascript'>
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = '//piwik.tind.io/';
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', 1167]);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript><p><img src='//piwik.tind.io/piwik.php?idsite=1167' style='border:0;' alt=''/></p>
        </noscript>
        <!-- End Piwik Code -->



        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] }
            });
        </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML"></script>

</footer>
<input type="hidden" name="csrf_token" value="('ec3560876af279b550361d994e1b2f62220e8de1c7a04c716e6a535f3f4864d3', 1519141549.398933)">
</body>
</html>