- name: Including secrets tasks...
  include_tasks: '{{ "secrets.yml" }}'

- name: Including Config Maps tasks...
  include_tasks: '{{ "configMaps.yml" }}'

- name: Including deploy task...
  include_tasks: '{{ "deploy.yml" }}'

- name: Including service task...
  include_tasks: '{{ "service.yml" }}'

- name: Including route task...
  include_tasks: '{{ "route.yml" }}'
