{% load i18n %}
{% load static %}


{% spaceless %}

{% for titles in options.marc21xml %}
	{% for groups in titles %}
	{% if forloop.first %}
		{% if options.group_title %}
		<h1 class="infoscience_header1">{{ groups.title }}</h1>
		{% endif %}
	{% else %}
		{% for article in groups %}
		{% if forloop.first %}
			{% if options.subgroup_title %}
			<h2 class="infoscience_header2">{{ article.title }}</h2>
			{% endif %}
		{% else %}
			{% if options.bullet != 'NONE' %}
			<div class="infoscience_record infoscience_record_bulleted">
				<span class="infoscience_bullet">{{ article.bulleting }}</span>
			{% else %}
			<div class="infoscience_record">
			{% endif %}
				<div class="infoscience_data">
					<div class="record-content">
                        {% if article.Doc_Type == 'Journal Articles' %}
							{% include "exports/include_doctype/article_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Reviews' %}
							{% include "exports/include_doctype/article_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Theses' %}
							{% include "exports/include_doctype/thesis_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Working Papers' %}
							{% include "exports/include_doctype/report_and_working_paper_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Reports' %}
							{% include "exports/include_doctype/report_and_working_paper_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Conference Proceedings' %}
							{% include "exports/include_doctype/conference_proceeding_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Conference Papers' %}
							{% include "exports/include_doctype/conference_paper_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Posters' %}
							{% include "exports/include_doctype/poster_and_talks_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Talks' %}
							{% include "exports/include_doctype/poster_and_talks_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Student Projects' %}
							{% include "exports/include_doctype/student_project_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Books' %}
							{% include "exports/include_doctype/book_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Book Chapters' %}
							{% include "exports/include_doctype/book_chapter_detailed.html" with article=article %}
                        {% elif article.Doc_Type == 'Patents' %}
							{% include "exports/include_doctype/patent_detailed.html" with article=article %}
						{% else %}

							{% if article.Title %}
							<h3 class="infoscience_title">{{ article.Title }}</h3>
							{% endif %}

							{% if article.Authors %}
							<p class="infoscience_authors">
							{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	
							</p>
							{% endif %}	

							{% if article.Publication_Date %}
							<p>{{ article.Publication_Date }}.</p>
							{% endif %}

						{% endif %}

						{% if options.summary and article.Summary %}
							<p class="infoscience_abstract">{{ article.Summary }}</p>
						{% endif %}
					</div>
					
					{% include "exports/include_doctype/common/links-bar.html" %}

				</div>
			</div>
		{% endif %}
		{% endfor %}
	{% endif %}
	{% endfor %}
{% empty %}
<p>{% trans "No items" %}.</p>
{% endfor %}

{% endspaceless %}


