web:
  build: .
  restart: always
  expose:
    # used by nginx: see proxy in sites-enabled
    - "8000"
  links:
    - postgres
  volumes:
    - ./infoscience_exports:/usr/src/app/infoscience_exports
    - ./staticfiles:/usr/src/app/staticfiles
  env_file:
    # uses for passwords (kept out of git)
    # SECRET_KEY=
    # DATABASE_PASSWORD_DEV=
    - ./env/django-dev.env
  environment:
    - DJANGO_SETTINGS_MODULE=settings.dev
  command: gunicorn --reload -w 4 -b :8000 --chdir /usr/src/app/infoscience_exports wsgi:application

nginx:
  build: ./nginx
  ports:
    # out:in = from [out] host, into [in] container 
    - "8000:80"
  volumes:
    - ./nginx/sites-enabled/web.conf:/etc/nginx/conf.d/web.conf
    - ./nginx/assets:/usr/share/nginx/html
  volumes_from:
    - web
  links:
    # used in nginx/sites-enabled/web.conf
    - web

postgres:
  image: postgres:9.5
  volumes:
    - /var/lib/postgresql
  ports:
    - "25432:5432"
