[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
dj-database-url = "*"
django-dirtyfields = "*"
django-filter = "*"
django-model-utils = "*"
django-auditlog = "*"
django-tequila = {editable = true, git = "https://github.com/epfl-si/django-tequila.git"}
"django-bootstrap4" = "*"
gevent = "*"
gunicorn = "*"
markdown = "*"
"psycopg2-binary" = "*"
pymarc = "*"
pytz = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]
"autopep8" = "*"
coverage = "*"
coveralls = "*"
codecov = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-nose = "*"
"fabric3" = "*"
factory-boy = "*"
faker = "*"
"flake8" = "*"
ipdb = "*"
ipython = "*"
lxml = "*"
mkdocs = "*"
mock = "*"
nose-progressive = "*"
selenium = "*"
requests = "*"
rope = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
