[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
django-jsonfield-backport = "*"
dj-database-url = "*"
django-dirtyfields = "*"
django-filter = "*"
django-model-utils = "*"
django-auditlog = "*"
django-epfl-entra-id = "*"
"django-bootstrap4" = "*"
furl = "*"
gevent = "*"
gunicorn = "*"
markdown = "*"
"psycopg2-binary" = "*"
pymarc = "==4.2.1"
pytz = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]
"autopep8" = "*"
coverage = "*"
coveralls = "*"
codecov = "*"
django-debug-toolbar = "*"
django-extensions = "*"
#django-nose = "*"
"fabric3" = "*"
factory-boy = "*"
faker = "*"
"flake8" = "*"
ipdb = "*"
ipython = "*"
lxml = "*"
mkdocs = "*"
mock = "*"
selenium = "*"
requests = "*"
rope = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.12.4"
