[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
dj-database-url = "*"
django-dirtyfields = "*"
django-filter = "*"
django-model-utils = "*"
django-tequila = {git = "https://github.com/epfl-idevelop/django-tequila.git", editable = true}
"django-bootstrap4" = "*"
djangorestframework = "*"
gevent = "*"
gunicorn = "*"
markdown = "*"
"psycopg2-binary" = "*"
pymarc = "*"
pytz = "*"


[dev-packages]

"autopep8" = "*"
coverage = "*"
coveralls = "*"
codecov = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-nose = "*"
"fabric3" = "*"
factory-boy = "*"
faker = "*"
"flake8" = "*"
graypy = "*"
ipdb = "*"
ipython = "*"
mkdocs = "*"
mock = "*"
nose-progressive = "*"
selenium = "*"
docopt = "*"


[requires]

python_version = "3.6"
