-i https://pypi.python.org/simple
-e git+https://github.com/epfl-si/django-tequila.git@ee467bb58df23d933ff85b43c929154146c5dd83#egg=django-tequila
beautifulsoup4==4.9.0
dj-database-url==0.5.0
django-auditlog==0.4.7
django-bootstrap4==1.1.1
django-cors-headers==3.2.1
django-dirtyfields==1.4
django-filter==2.2.0
django-jsonfield==1.4.0
django-model-utils==4.0.0
django==2.2
gevent==20.4.0
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
gunicorn==20.0.4
markdown==3.2.1
psycopg2-binary==2.8.5
pymarc==4.0.0
python-dateutil==2.6.0
pytz==2019.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
