{% load i18n %}
{% load staticfiles %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	

{% if article.Authors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span>
		{% if options.link_title and article.ELA_URL %}<a href="{{ article.ELA_URL.0 }}" target="_blank">{% endif %}
		<strong>{{ article.Title }}</strong>
		{% if options.link_title and article.ELA_URL %}</a>{% endif %}
		{% if article.Publisher %} ; {% else %} . {% endif %}
	</span>
{% endif %}

{% if article.Publisher %}
	<span><i>{{ article.Publisher }}.</i></span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}.</span>
{% endif %}

{% if options.adv_article_volume and article.Publisher_Volume %}
	<span>
		{% trans "Vol." %} {{ article.Publisher_Volume }} 
		{% if options.adv_article_volume_number and article.Publisher_Volume_Number or options.adv_article_volume_pages and article.Publisher_Volume_Pages %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if options.adv_article_volume_number and article.Publisher_Volume_Number %}
	<span>
		{% trans "num." %} {{ article.Publisher_Volume_Number }}
		{% if options.adv_article_volume_pages and article.Publisher_Volume_Pages %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if options.adv_article_volume_pages and article.Publisher_Volume_Pages %}
	<span>{% trans "p." %} {{ article.Publisher_Volume_Pages }}.</span>
{% endif %}

{% if article.DOI %}
	<span>{% trans "DOI" %} : {{ article.DOI }}.</span>
{% endif %}


