{% load i18n %}
{% load staticfiles %}


{% if article.Publisher %}
	<span><i>{{ article.Publisher }}</i></span>
	<span>. </span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	<span>. </span>
{% endif %}

{% if options.adv_article_volume and article.Publisher_Volume %}
	<span>{% trans "Vol." %} {{ article.Publisher_Volume }}</span> 
	<span>{% if options.adv_article_volume_number and article.Publisher_Volume_Number or options.adv_article_volume_pages and article.Publisher_Volume_Pages %}, {% else %}. {% endif %}</span>
{% endif %}

{% if options.adv_article_volume_number and article.Publisher_Volume_Number %}
	<span>{% trans "num." %} {{ article.Publisher_Volume_Number }}</span>
	<span>{% if options.adv_article_volume_pages and article.Publisher_Volume_Pages %}, {% else %}. {% endif %}</span>
{% endif %}

{% if options.adv_article_volume_pages and article.Publisher_Volume_Pages %}
	<span>{% trans "p." %} {{ article.Publisher_Volume_Pages }}. </span>
{% endif %}

{% if article.DOI %}
	<span>{% trans "DOI" %} : {{ article.DOI }}.</span>
{% endif %}
