{% load i18n %}
{% load staticfiles %}


<p class="infoscience_host">

{% if article.Publication_Location %}
	<span>{{ article.Publication_Location }}</span>
	{% if article.Publication_Institution or options.article.Publication_Date %}
		<span>: </span>
	{% elif options.adv_book_isbn and article.ISBN %}
		<span> - </span>
	{% else %}
		<span>. </span>		
	{% endif %}
{% endif %}

{% if article.Publication_Institution %}
	<span>{{ article.Publication_Institution }}</span>
	{% if options.article.Publication_Date %}
		<span>, </span>
	{% elif options.adv_book_isbn and article.ISBN %}
		<span> - </span>
	{% else %}
		<span>. </span>		
	{% endif %}
{% endif %}

{% if options.article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	{% if options.adv_book_isbn and article.ISBN %}
		<span> - </span>
	{% else %}
		<span>. </span>
	{% endif %}
{% endif %}

{% if options.adv_book_isbn and article.ISBN %}
	<span>{{ article.ISBN }}. </span>
{% endif %}

</p>

{% if options.adv_book_doi and article.DOI %}
	<p>{% trans "DOI" %} : {{ article.DOI }}.</p>
{% endif %}


