{% load i18n %}
{% load static %}


<span class="text-muted small mb-0">
  <span class="infoscience_host">

  {% if article.Publisher %}
    <span class="infoscience_publication_publisher"><i>{{ article.Publisher }}</i></span>
    {% if article.Publication_Location or article.Publication_Institution or article.Publication_Date %}
      <span>; </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}

  {% if article.Publication_Location %}
    <span class="infoscience_publication_location">{{ article.Publication_Location }}</span>
    {% if article.Publication_Institution %}
      <span>: </span>
    {% elif article.Publication_Date %}
      <span>, </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}

  {% if article.Publication_Institution %}
    <span class="infoscience_publication_institution">{{ article.Publication_Institution }}</span>
    {% if article.Publication_Date %}
      <span>, </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}

  {% if article.Publication_Date %}
    <p class="mb-0 infoscience_publication_date">{{ article.Publication_Date }}. </p>
  {% endif %}

  {% if article.Publisher_Volume_Pages %}
    <span class="infoscience_publication_volume_page">{% trans "p." %} {{ article.Publisher_Volume_Pages }}. </span>
    {% if options.adv_book_chapter_isbn and article.ISBN %}
      <span> - </span>
    {% endif %}
  {% endif %}
  </span>

  {% if options.adv_book_chapter_isbn and article.ISBN %}
    <span class="infoscience_isbn">{{ article.ISBN }}. </span>
  {% endif %}
</span>

{% if article.DOI %}
  <p class="text-muted small infoscience_doi">{% trans "DOI" %} : {{ article.DOI }}.</p>
{% endif %}
