{% load i18n %}
{% load staticfiles %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	

{% if article.Authors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span><strong>{{ article.Title }}</strong></span>
    <span>{% if article.Publisher or article.Publication_Location or article.Publication_Institution or article.Publication_Date %}; {% else %}. {% endif %}</span>
{% endif %}

{% if article.Publisher %}
	<span><i>{{ article.Publisher }}</i></span>
	{% if article.Publication_Location or article.Publication_Institution or article.Publication_Date %}
		<span>; </span>
	{% else %}
		<span>. </span>
	{% endif %}
{% endif %}

{% if article.Publication_Location %}
	<span>{{ article.Publication_Location }}</span>
	{% if article.Publication_Institution %}
		<span>: </span>
	{% elif article.Publication_Date %}
		<span>, </span>
	{% else %}
		<span>. </span>
	{% endif %}
{% endif %}

{% if article.Publication_Institution %}
	<span>{{ article.Publication_Institution }}</span>
	{% if article.Publication_Date %}
		<span>, </span>
	{% else %}
		<span>. </span>
	{% endif %}
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}. </span>
{% endif %}

{% if article.Publisher_Volume_Pages %}
	<span>{% trans "p." %} {{ article.Publisher_Volume_Pages }}. </span>
	{% if options.adv_book_chapter_isbn and article.ISBN %}
		<span> - </span>
	{% endif %}
{% endif %}

{% if options.adv_book_chapter_isbn and article.ISBN %}
	<span>{{ article.ISBN }}</span>
	<span>. </span>
{% endif %}

{% if options.adv_book_chapter_doi and article.DOI %}
	<span>{% trans "DOI" %} : {{ article.DOI }}.</span>
{% endif %}


