{% load i18n %}
{% load static %}

<span class="text-muted small mb-0">
  <span class="infoscience_host">

   {% if article.Publication_Location %}
    <span class="infoscience_publication_location">{{ article.Publication_Location }}</span>
    {% if article.Publication_Institution or article.Publication_Date %}
      <span>: </span>
    {% elif options.adv_book_isbn and article.ISBN %}
      <span> - </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}

  {% if article.Publication_Institution %}
    <span class="infoscience_publication_institution">{{ article.Publication_Institution }}</span>
    {% if article.Publication_Date %}
      <span>, </span>
    {% elif options.adv_book_isbn and article.ISBN %}
      <span> - </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}

  {% if article.Publication_Date %}
    <span class="infoscience_publication_date">{{ article.Publication_Date }}</span>
    {% if options.adv_book_isbn and article.ISBN %}
      <span> - </span>
    {% else %}
      <span>. </span>
    {% endif %}
  {% endif %}


  {% if options.adv_book_isbn and article.ISBN %}
    <span class="text-muted small infoscience_isbn">{{ article.ISBN }}. </span>
  {% endif %}
  </span>
</span>

{% if options.adv_book_doi and article.DOI %}
  <p class="text-muted small infoscience_doi">{% trans "DOI" %} : {{ article.DOI }}.</p>
{% endif %}
