{% load i18n %}
{% load staticfiles %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	

{% if article.Authors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span>
		<strong>{{ article.Title }}</strong>
		{% if article.Publication_Location or article.Publication_Institution %} ; {% else %} . {% endif %}
	</span>
{% endif %}

{% if article.Publication_Location %}
	<span>{{ article.Publication_Location }}</span>
{% endif %}

{% if article.Publication_Location and article.Publication_Institution %}
	<span> : </span>
{% endif %}

{% if article.Publication_Institution %}
	<span>{{ article.Publication_Institution }}</span>
	{% if options.article.Publication_Date or options.adv_book_isbn and article.ISBN %}
		<span> , </span>
	{% else %}
		<span> . </span>
	{% endif %}
{% endif %}

{% if options.article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	{% if options.adv_book_isbn and article.ISBN %}
		<span> - </span>
	{% else %}
		<span> . </span>
	{% endif %}
{% endif %}

{% if options.adv_book_isbn and article.ISBN %}
	<span>{{ article.ISBN }}.</span>
{% endif %}

{% if options.adv_book_doi and article.DOI %}
	<span>{% trans "DOI" %} : {{ article.DOI }}.</span>
{% endif %}


