{% load i18n %}
{% load staticfiles %}


{% if article.Title %}
<h3 class="infoscience_title">{{ article.Title }}</h3>
{% endif %}

{% if article.Authors %}
<p class="infoscience_authors">
{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	
</p>
{% endif %}

<p class="infoscience_host">

{% if article.Publication_Location %}
	<span>{{ article.Publication_Location }}</span>
{% endif %}

{% if article.Publication_Location and article.Publication_Institution %}
	<span> : </span>
{% endif %}

{% if article.Publication_Institution %}
	<span>{{ article.Publication_Institution }}</span>
	{% if options.article.Publication_Date or options.adv_book_isbn and article.ISBN %}
		<span> , </span>
	{% else %}
		<span> . </span>
	{% endif %}
{% endif %}

{% if options.article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	{% if options.adv_book_isbn and article.ISBN %}
		<span> - </span>
	{% else %}
		<span> . </span>
	{% endif %}
{% endif %}

{% if options.adv_book_isbn and article.ISBN %}
	<span>{{ article.ISBN }}.</span>
{% endif %}

</p>

{% if options.adv_book_doi and article.DOI %}
	<p>{% trans "DOI" %} : {{ article.DOI }}.</p>
{% endif %}


