{% load i18n %}
{% load static %}

<span class="text-muted small mb-0">
  {% if options.adv_conf_paper_journal_name and article.Publisher %}
    <span><i>{{ article.Publisher }}</i></span>
    <span>. </span>
  {% endif %}

  {% if article.Publication_Date %}
    <span>{{ article.Publication_Date }}</span>
    <span>. </span>
  {% endif %}

  {% if article.Conference_Meeting_Name %}
    <span>{{ article.Conference_Meeting_Name }}</span>
    <span>{% if article.Conference_Meeting_Location or article.Conference_Meeting_Date %}, {% else %}. {% endif %}</span>
  {% endif %}

  {% if article.Conference_Meeting_Location %}
    <span>{{ article.Conference_Meeting_Location }}</span>
    <span>{% if article.Conference_Meeting_Date %}, {% else %}. {% endif %}</span>
  {% endif %}

  {% if article.Conference_Meeting_Date %}
    <span>{{ article.Conference_Meeting_Date }}</span>
    <span>. </span>
  {% endif %}

  {% if article.Publisher_Volume_Pages %}
    <span>{% trans "p." %} {{ article.Publisher_Volume_Pages }}. </span>
  {% endif %}

  {% if article.DOI %}
    <span>{% trans "DOI" %} : {{ article.DOI }}.</span>
  {% endif %}
</span>
