{% load i18n %}
{% load staticfiles %}


{% if article.Title %}
<h3 class="infoscience_title">{{ article.Title }}</h3>
{% endif %}

{% if article.Authors %}
<p class="infoscience_authors">
{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	
</p>
{% endif %}

<p class="infoscience_host">

{% if article.Corporate_Name %}
	<span>{{ article.Corporate_Name.0 }}</span>
	{% if article.Company_Name %}
	/
	{% else %}
	:
	{% endif %}
{% endif %}

{% if article.Company_Name %}
	<span>{{ article.Company_Name }}</span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}.</span>
{% endif %}
</p>

{% if article.Patent %}
<p>
	<span>
	{% for patent in article.Patent %}
		{{ patent.a }} {% if options.adv_patent_status %} ({{ patent.c }}) {% endif %}
		</ br>
	{% endfor %}
	</span>
</p>
{% endif %}

