{% load i18n %}
{% load staticfiles %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	

{% if article.Authors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span>
		<strong>{{ article.Title }}</strong>
		{% if article.Conference_Meeting_Name or Conference_Meeting_Location or Conference_Meeting_Date %} ; {% else %} . {% endif %}
	</span>
{% endif %}

{% if article.Conference_Meeting_Name %}
	<span>
		{{ article.Conference_Meeting_Name }}
		{% if article.Conference_Meeting_Location or article.Conference_Meeting_Date %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if article.Conference_Meeting_Location %}
	<span>
		{{ article.Conference_Meeting_Location }}
		{% if article.Conference_Meeting_Date %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if article.Conference_Meeting_Date %}
	<span>
		{{ article.Conference_Meeting_Date }}.
	</span>
{% endif %}


