{% load i18n %}
{% load static %}


<span class="text-muted small mb-2">
  <span class="infoscience_host">

  {% if article.Publication_Date %}
    <span class="infoscience_publication_date">{{ article.Publication_Date }}</span>
  {% endif %}

  </span>
</span>

{% if article.Doc_Type == 'Student Projects' and article.Directors %}
  <p class="text-muted small infoscience_advisors mt-2">
    Advisor(s) : {% include "exports/include_doctype/common/authors.html" with authors=article.Directors %}
  </p>
{% endif %}
