{% load i18n %}
{% load staticfiles %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	

{% if article.Authors and options.adv_thesis_directors and article.Directors %}
	<span> / </span>
{% endif %}

{% if options.adv_thesis_directors %}
{% include "exports/include_doctype/common/authors.html" with authors=article.Directors %}
<span> ({% trans "Dir." %}) </span>
{% endif %}

{% if article.Authors or options.adv_thesis_directors and article.Directors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span><strong>{{ article.Title }}</strong></span>
	<span>. </span>
{% endif %}

{% if article.Publication_Location %}
	<span>{{ article.Publication_Location }}</span>
	<span>{% if article.Publication_Institution or article.Publication_Date %}, {% else %}. {% endif %}</span>
{% endif %}

{% if article.Publication_Institution %}
	<span>{{ article.Publication_Institution }}</span>
	<span>{% if article.Publication_Date %}, {% else %}. {% endif %}</span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	<span>. </span>
{% endif %}

{% if options.adv_thesis_pages and article.Publication_Pages %}
	<span>{% trans "p." %} {{ article.Publication_Pages }}. </span>
{% endif %}

{% if article.DOI %}
	<span>{% trans "DOI" %} : {{ article.DOI }}. </span>
{% endif %}
