{% load i18n %}
{% load static %}


{% if article.Title %}
<h3 class="infoscience_title">{{ article.Title }}</h3>
{% endif %}

{% if article.Authors %}
<p class="infoscience_authors">
{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}	
</p>
{% endif %}

<p class="infoscience_host">

{% if options.adv_conf_paper_journal_name and article.Publisher %}
	<span><i>{{ article.Publisher }}</i>. </span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}. </span>
{% endif %}

{% if article.Conference_Meeting_Name %}
	<span>
		{{ article.Conference_Meeting_Name }}
		{% if article.Conference_Meeting_Location or article.Conference_Meeting_Date %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if article.Conference_Meeting_Location %}
	<span>
		{{ article.Conference_Meeting_Location }}
		{% if article.Conference_Meeting_Date %}, {% else %}. {% endif %}
	</span>
{% endif %}

{% if article.Conference_Meeting_Date %}
	<span>{{ article.Conference_Meeting_Date }}. </span>
{% endif %}

{% if article.Publisher_Volume_Pages %}
	<span>{% trans "p." %} {{ article.Publisher_Volume_Pages }}. </span>
{% endif %}

</p>

{% if article.DOI %}
	<p>{% trans "DOI" %} : {{ article.DOI }}.</p>
{% endif %}



