{% load i18n %}
{% load static %}


{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}

{% if article.Authors %}
	<span> : </span>
{% endif %}

{% if article.Title %}
	<span><strong>{{ article.Title }}</strong></span>
	<span>. </span>
{% endif %}

{% if article.Publication_Date %}
	<span>{{ article.Publication_Date }}</span>
	<span>. </span>
{% endif %}

{% if options.adv_report_working_papers_pages and article.Publication_Pages %}
	<span>{% trans "p." %} {{ article.Publication_Pages }}. </span>
{% endif %}

{% if article.Local_Url_Link %}
	<span><a href="{{ article.Local_Url_Link }}" target="_blank">{{ article.Local_Url_Link }}</a>.</span>
{% endif %}


