{% load i18n %}


{% if options.link_print %}

  {% if options.link_detailed %}
    {% trans "Detailed record" %}: {{ article.Infoscience_URL }}?ln=en
    <br />
  {% endif %}

  {% if options.link_fulltext and article.ELA_URL %}
    {% trans "Full text" %}: {{ article.ELA_URL }}
    <br />
  {% endif %}

  {% if options.link_publisher %}
    {% for view_publisher in article.View_Publisher %}
      {% trans "View at publisher" %}: {{ view_publisher }}
      <br />
    {% endfor %}
  {% endif %}

{% else %}

  {% if options.link_detailed %}
  <p class="infoscience_detailed_record_link">
    <a href="{{ article.Infoscience_URL }}?ln=en" class="btn btn-secondary btn-sm" target="_blank">{% trans "Detailed record" %}</a>
  </p>
    {% if options.link_fulltext and article.ELA_URL or options.link_publisher and article.DOI %} - {% endif %}
  {% endif %}

  <p class="text-muted small mb-0">
  {% if options.link_fulltext and article.ELA_URL %}
    <a class="text-muted" href="{{ article.ELA_URL }}" target="_blank">{% trans "Full text" %}</a>
    {% if options.link_publisher and article.DOI %} &#8211; {% endif %}
  {% endif %}
  {% if options.link_publisher and article.DOI %}
    <a class="text-muted" href="https://dx.doi.org/{{ article.DOI }}" target="_blank">{% trans "View at publisher" %}</a>
  {% endif %}
  </p>

{% endif %}
