{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
	<h1>Exports Listing</h1>

	<p><a class="btn btn-primary" href="{% url 'crud:export-create' %}" role="button">{% trans "Create" %}</a></p>

	<ul class="list-group">
		{% for object in object_list %}
		<li class="list-group-item">
			<div>
				<p>{{ object.user }}</p>
				<h4 class="marc21xml-title">{{ object.name }}</h4>
				<p>{% trans "url" %}: <a href="{{ object.url }}">{{ object.url }}</a></p>
				<p>
				<a class="btn btn-primary" href="{{ object.get_absolute_url }}" role="button">{% trans "Details" %}</a>
				<a class="btn btn-primary" href="{% url 'crud:export-update' object.pk %}" role="button">{% trans "Update" %}</a>
				<a class="btn btn-primary" href="{% url 'crud:export-delete' object.pk %}" role="button">{% trans "Delete" %}</a>
				</p>
			</div>
		</li>
		{% empty %}
		<p>{% trans "You currently have no export configured" %}.</p>
		{% endfor %}
	</ul>

	{% for article in marc21xml %}
	<div class="marc21xm-record-template1">
		<p>
		{% if article.Authors %}<span>{% include "exports/export_list_list.html" with objects_css='marc21xml-author' objects=article.Authors %}.</span>{% endif %}
		{% if article.Title_All %}<span style="font-style: italic">{{ article.Title_All }}.</span>{% endif %}
		{% if article.Publisher %}<span>{{ article.Publisher }}</span>{% endif %}
		{% if article.Publisher_Date %}{% if article.Publisher %}, {% endif %}<span>{{ article.Publisher_Date }}</span>{% endif %}
		</p>
		<span><a href="http://infoscience.epfl.ch/record/{{ article.Id }}?ln=en">{% trans "Detailed record" %}</a></span>
		<p>
		{% if not article.last %}<div style="width:100%; border-bottom: 1px dotted #000;"></div>{% endif %}
	</div>
	{% empty %}
	<p>{% trans "No items" %}.</p>
	{% endfor %}

	{% if is_paginated %}
	<div class="pagination">
	    <span class="page-links">
	        {% if page_obj.has_previous %}
	            <a href="{% url 'crud:export-list' %}?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}
	        <span class="page-current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>
	        {% if page_obj.has_next %}
	            <a href="{% url 'crud:export-list' %}?page={{ page_obj.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
	{% endif %}
{% endblock %}