{% load i18n %}
{% load staticfiles %}


{% for titles in options.marc21xml %}
	{% for groups in titles %}
	{% if forloop.first %}
		{% if options.group_title %}
		<h1 class="infoscience_header1">{{ groups.title }}</h1>
		{% endif %}
	{% else %}
		{% for article in groups %}
		{% if forloop.first %}
			{% if options.subgroup_title %}
			<h2 class="infoscience_header2">{{ article.title }}</h2>
			{% endif %}
		{% else %}
			{% if options.bullet != 'NONE' %}
			<div class="infoscience_record infoscience_record_bulleted">
				<span class="infoscience_bullet">{{ article.bulleting }}</span>
			{% else %}
			<div class="infoscience_record">
			{% endif %}
				<div class="infoscience_data">
					<div class="record-content">
                        {% if article.Doc_Type == 'ARTICLE' %}
							{% include "exports/include_doctype/article_short.html" with article=article %}
                        {% elif article.Doc_Type == 'THESIS' %}
							{% include "exports/include_doctype/thesis_short.html" with article=article %}
                        {% elif article.Doc_Type == 'THESIS_LIB' %}
							{% include "exports/include_doctype/thesis_short.html" with article=article %}
                        {% elif article.Doc_Type == 'REP_WORK' %}
							{% include "exports/include_doctype/report_and_working_paper_short.html" with article=article %}
                        {% elif article.Doc_Type == 'PROC' %}
							{% include "exports/include_doctype/conference_proceeding_short.html" with article=article %}
                        {% elif article.Doc_Type == 'CONF' %}
							{% include "exports/include_doctype/conference_paper_short.html" with article=article %}
                        {% elif article.Doc_Type == 'POST_TALK' %}
							{% include "exports/include_doctype/poster_and_talks_short.html" with article=article %}
                        {% elif article.Doc_Type == 'STUDENT' %}
							{% include "exports/include_doctype/student_project_short.html" with article=article %}
                        {% elif article.Doc_Type == 'BOOK' %}
							{% include "exports/include_doctype/book_short.html" with article=article %}
                        {% elif article.Doc_Type == 'BOOK_CHAP' %}
							{% include "exports/include_doctype/book_chapter_short.html" with article=article %}
                        {% elif article.Doc_Type == 'PATENT' %}
							{% include "exports/include_doctype/patent_short.html" with article=article %}
						{% else %}

							{% include "exports/include_doctype/common/authors.html" with authors=article.Authors %}

							{% if article.Authors %}
								<span> : </span>
							{% endif %}

							{% if article.Title %}
								<span>
									{% if options.link_title and article.ELA_URL %}<a href="{{ article.ELA_URL.0 }}" target="_blank">{% endif %}
									<strong>{{ article.Title }}</strong>
									{% if options.link_title and article.ELA_URL %}</a>{% endif %}
									.
								</span>
							{% endif %}

							{% if article.Publication_Date %}
								<span>{{ article.Publication_Date }}.</span>
							{% endif %}

						{% endif %}

					</div>
					{% if options.thumb and article.ELA_Icon %}
					<img class="record-illustration" src="{{ article.ELA_Icon }}" class="record-illustration" alt="n/a">
					{% endif %}
					<ul class="record-metadata">
						<p></p>
						<p class="infoscience_links">
						{% if options.link_print %}
						
							{% if options.link_detailed %}
							{% trans "Detailed record" %}: {{ article.Infoscience_URL }}?ln=en
							<br />
							{% endif %}

							{% if options.link_fulltext and article.ELA_URL %}
							{% trans "Full text" %}: {{ article.ELA_URL.0 }}
							<br />
							{% endif %}

							{% if options.link_publisher %}
							{% for view_publisher in article.View_Publisher %}
							 	{% trans "View at publisher" %}: {{ view_publisher }}
								<br />
							{% endfor %}
							{% endif %}

						{% else %}
							
							{% if options.link_detailed %}
								<a class="infoscience_link_detailed" href="{{ article.Infoscience_URL }}?ln=en" target="_blank">{% trans "Detailed record" %}</a>
								{% if options.link_fulltext and article.ELA_URL or options.link_publisher and article.DOI %} - {% endif %}
							{% endif %}
							{% if options.link_fulltext and article.ELA_URL %}
								<a class="infoscience_link_fulltext" href="{{ article.ELA_URL.0 }}" target="_blank">{% trans "Full text" %}</a>
								{% if options.link_publisher and article.DOI %} - {% endif %}
							{% endif %}
							{% if options.link_publisher and article.DOI %}
								<a class="infoscience_link_official" href="https://dx.doi.org/{{ article.DOI }}" target="_blank">{% trans "View at publisher" %}</a>
							{% endif %}
						
						{% endif %}
						</p>
					</ul>
				</div>
			</div>
		{% endif %}
		{% endfor %}
	{% endif %}
	{% endfor %}
{% empty %}
<p>{% trans "No notices loaded" %}.</p>
{% endfor %}

