{% extends "base/en/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <h1>{% trans "Create/Update" %}</h1>
    <form id="export_form" method="post" action="." class="form">
		{% csrf_token %}
		{% bootstrap_form form layout='' %}
		{% buttons %}
		<a class="btn btn-primary" href="{% url 'crud:export-list' %}" role="button">{% trans "Cancel" %}</a>
		<button id="btn-preview" type="button" class="btn btn-primary">{% trans "Preview" %}</button>
		<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
		{% endbuttons %}
	</form>

	<div id="display-mrc21xml" class="modal-content">
    </div>
{% endblock %}
