{% extends "base/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load staticfiles %}


{% block headjs %}
{% endblock %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    {% block title %}
    <h1>{% trans "Create/Update Publication List" %}</h1>
    {% endblock %}

    <form id="export_form" method="post" action="." class="form">

		{% csrf_token %}

		<div class="row">
			<div class="col-12">
				<h4>{% trans "Name" %}</h4>
			</div>
			<div class="col-12">
				{{ form.name }}
			</div>
			<div class="col-12">
				<h4>{% trans "Request Url" %}</h4>
			</div>
			<div class="col-12">
				{{ form.url }}
			</div>
			<div class="col-12">	
				<h4>{% trans "Format" %}</h4>
			</div>
			<div class="col-12">
				{{ form.formats_type }}
			</div>
			<div class="col-12">
				<h4>{% trans "Group by" %}</h4>
			</div>
			<div class="col-12">
				<label>{% trans "Group by" %} (1)</label>
				{{ form.groupsby_type }}
				<br />
				<br />
				<label id="groupby2-label">{% trans "Group by" %} (2)</label>
				{{ form.groupsby_year }}
				{{ form.groupsby_doc }}
			</div>
			<div class="col-12">
				<h4>{% trans "Show pending publications" %}</h4>
			</div>
			<div class="col-12">
				<div>{{ form.show_pending_publications }}   {% trans "Show pending publications" %}</div>
			</div>
			<div class="col-12">
				<h4>{% trans "Bullets and Numbering" %}</h4>
			</div>
			<div class="col-12">
				{{ form.bullets_type }}
			</div>
			<div class="col-12">
				<h4>{% trans "Thumbnail" %}</h4>
			</div>
			<div class="col-12">
				<div>{{ form.show_thumbnail }}   {% trans "Show illustration" %}</div>
			</div>
			<div class="col-12">
				<h4>{% trans "Abstract" %}</h4>
			</div>
			<div class="col-12">
				<div>{{ form.show_summary }}   {% trans "Show abstract" %}</div>
			</div>
			<div class="col-12">
				<h4>{% trans "Links" %}</h4>
			</div>
			<div class="col-12 col-sm-6">
				<div>{{ form.show_linkable_authors }}   {% trans "Clickable authors" %}</div>
				<div>{{ form.show_links_for_printing }}   {% trans "Format links for printing" %}</div>
			</div>
			<div class="col-12 col-sm-6">
				<div>{{ form.show_detailed }}   {% trans "Detailed record" %}</div>
				<div>{{ form.show_fulltext }}   {% trans "Full Text" %}</div>
				<div>{{ form.show_viewpublisher }}   {% trans "View at publisher" %}</div> 
			</div>
			<div class="col-12">
				<a id="advancedOptionsToggle" class="btn btn-primary" data-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false" aria-controls="advancedOptions">
					{% trans "Advanced options" %}
				</a>
 				<div id="advancedOptions" class="collapse">
					<div class="card card-body">
						<h4>{% trans "Article & Review" %}</h4>
						<div>{{ form.show_article_volume }}   {% trans "Volume" %}</div>
						<div>{{ form.show_article_volume_number }}   {% trans "Number" %}</div>
						<div>{{ form.show_article_volume_pages }}   {% trans "Pages" %}</div>

						<h4>{% trans "PhD Thesis" %}</h4>
						<div>{{ form.show_thesis_directors }}   {% trans "Directors" %}</div>
						<div>{{ form.show_thesis_pages }}   {% trans "Pages" %}</div>

						<h4>{% trans "Report & Working papers" %}</h4>
						<div>{{ form.show_report_working_papers_pages }}   {% trans "Pages" %}</div>

						<h4>{% trans "Conference Proceeding" %}</h4>
						<div>{{ form.show_conf_proceed_place }}   {% trans "Place" %}</div>
						<div>{{ form.show_conf_proceed_date }}   {% trans "Date" %}</div>

						<h4>{% trans "Conference Paper" %}</h4>
						<div>{{ form.show_conf_paper_journal_name }}   {% trans "Journal" %}</div>

						<h4>{% trans "Book" %}</h4>
						<div>{{ form.show_book_isbn }}   {% trans "ISBN" %}</div>
						<div>{{ form.show_book_doi }}   {% trans "DOI" %}</div>

						<h4>{% trans "Book chapter" %}</h4>
						<div>{{ form.show_book_chapter_isbn }}   {% trans "ISBN" %}</div>
						<div>{{ form.show_book_chapter_doi }}   {% trans "DOI" %}</div>

						<h4>{% trans "Patent" %}</h4>
						<div>{{ form.show_patent_status }}   {% trans "Status" %}</div>
					</div>
				</div>
			</div>
		</div>

		{% buttons %}
		<a class="btn btn-primary" href="{% url 'crud:export-list' %}" role="button">{% trans "Cancel" %}</a>
		<button id="btn-preview" type="button" class="btn btn-primary" title="{% trans 'Defined by www.epfl.ch/css/epfl.css' %}">{% trans "Preview" %}</button>
		<button id="btn-submit" type="button" class="btn btn-primary">{% trans "Submit" %}</button>
		{% endbuttons %}
	</form>

  <div id="display-mrc21xml-loading" class="alert alert-info" role="alert"><span>{% trans 'In progress' %}</span></div>

  <div class="embed-responsive embed-responsive-1by1">
    <iframe id="display-mrc21xml" class="embed-responsive-item" src=""></iframe>
  </div>

{% endblock %}
