{% extends "base/base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block headline %}{% trans "Configurations" %}{% endblock %}

{% block content %}

	<p><a class="btn btn-primary" href="{% url 'crud:export-create' %}" role="button">{% trans "Create" %}</a></p>

	<ul class="list-group">
		{% for object in object_list %}
		<li class="list-group-item">
			<div>
				<div class="category-content">
					<h4><a href="{% url 'crud:export-update' object.pk %}">{{ object.name }}</a></h4>
					<p>{% trans "Export url" %}: <a href="{{ object.get_absolute_url }}" target="_blank">
						{{ SITE_DOMAIN }}{{ object.get_absolute_url }}</a></p>
				</div>
				<div class="category-tools">
					<input type="hidden" value="{{ SITE_DOMAIN }}{{ object.get_absolute_url }}">
					<a class="btn btn-primary" href="{% url 'crud:export-delete' object.pk %}" role="button" data-placement="top" data-toggle="tooltip" title="{% trans 'Remove' %}">
						<span class="fa fa-trash fa-lg"></span>
					</a>
					<a class="btn btn-primary" href="#" role="button"" data-placement="top" data-toggle="tooltip" data-tip="{% trans 'Copy to clipboard' %}" title="{% trans 'Copy to clipboard' %}">
						<span class="fa fa-clipboard fa-lg"></span>						
					</a>
				</div>
			</div>
		</li>
		{% empty %}
		<p>{% trans "You currently have no export configured" %}.</p>
		{% endfor %}
	</ul>

	{% if is_paginated %}
	<div class="pagination">
	    <span class="page-links">
	        {% if page_obj.has_previous %}
	            <a href="{% url 'crud:export-list' %}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
	        {% endif %}
	        <span class="page-current">
	            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
	        </span>
	        {% if page_obj.has_next %}
	            <a href="{% url 'crud:export-list' %}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
	        {% endif %}
	    </span>
	</div>
	{% endif %}
{% endblock %}
