body {
	background-color: rgb(245, 245, 245);
}

textarea:focus,
input:focus,
select:focus {   
  border-color: rgba(0, 123, 255, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 123, 255, 0.6);
  outline: 0 none;
}

/*
 * Export Edit
*/

#export_form h4 {
    margin: 30px 0 12px 0;
}

#export_form input[type="text"], 
#export_form select {
	width: 100%;
}

#export_form input, 
#export_form select {
    color: #000;
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid #555;
	border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: 5px 35px 5px 5px;
}

.bloc_checkboxes {
	margin-top: 10px;
}

.span_checkbox {
}

.span_checkbox_label {
	margin-left: 10px;
}

.form-group {
	margin-top: 4rem;
}

/*
 * Export List
*/ 

.category-content {
	float: left;
}

.category-tools {
	float: right;
}

.category-tools .btn {
	float: right;
	width: 40px;
	margin-left: 20px;
}

/*
 * Export
*/ 

.infoscience_record {
	padding-top: 4px;
	border-bottom: 1px dotted #000;
    margin-top: 8px;
    padding-bottom: 7px;
}

.infoscience_record p {
    margin-bottom: 0;
}

.infoscience_export img.record-illustration {
    order: 4;
    align-self: flex-start;
    height: 200px;
	max-width: 100%;
}

.infoscience_bullet {
    float: left;
    text-align: right;
    width: 3em;
}

.infoscience_record_bulleted .infoscience_data {
    margin-left: 4em;
}

.infoscience_title {
    font-style: italic;
}

.infoscience_links {
    padding-top: 0px;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    clear: left;
}

