.Infoscience {
	background-color: rgb(245, 245, 245);
}

.Infoscience .headerbox .menu,
.Infoscience .topmenu
{
    margin: 0px !important;
}


.Infoscience .background-image-container,
.Infoscience .pageheader {
    background-color: #fafafa;
}

.Infoscience .background-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Infoscience .background-image-container .container {
    max-width: 1140px;
}

@media (min-width: 768px) {
    .Infoscience .background-image-container .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .Infoscience .background-image-container .container {
        max-width: 540px;
    }
}

.Infoscience .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Infoscience .header-img {
    margin-left: 37px;
    width: 110px;
}

.Infoscience .logo-image img {
    width: 150px;
    padding: 10px;
}

.Infoscience .header-text-after-image {
    line-height: 3.5em;
    display: table;
    text-align: justify;
}

body {
    background: revert !important;
/*linear-gradient(to bottom, rgba(30,87,153,0) 0%, rgba(41,137,216,0) 50%, #fff 50%, #fff 100%),#fafafa no-repeat !important;*/
}

.Infoscience .pagebody {
    box-shadow: revert !important;
    margin: revert !important;
}

.Infoscience h1 {
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #000;
    letter-spacing: 0;
    line-height: 38px;
    padding-top: 0;
    margin-top: 0;
    text-transform: none;
    margin-bottom: 20px;
}

.Infoscience .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.Infoscience textarea:focus,
.Infoscience input:focus,
.Infoscience select:focus {   
	border-color: rgba(0, 123, 255, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 123, 255, 0.6);
	outline: 0 none;
}

#infoscience_title {
    font-family: SuisseIntl, Arial, sans-serif;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom:0!important;
    color:#00a79f;
    font-weight:800;
}

@media (max-width: 1200px) {
    #infoscience_title {
        font-size: calc(1.575rem + 3.9vw)
    }
}

#infoscience_pushline_en, #infoscience_pushline_fr {
    font-family: SuisseIntl, Arial, sans-serif;
    color: #212121;
    font-size: 32px;
    font-weight: 600;
}


/*
 * Export Edit
*/

.Infoscience #export_form h4 {
    margin: 30px 0 12px 0;
}

.Infoscience #export_form input[type="text"], 
.Infoscience #export_form select {
	width: 100%;
}

.Infoscience #export_form input, 
.Infoscience #export_form select {
    color: #000;
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid #555;
	border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: 5px 35px 5px 5px;
}

.Infoscience .bloc_checkboxes {
	margin-top: 10px;
}

.Infoscience .span_checkbox {
}

.Infoscience .span_checkbox_label {
	margin-left: 10px;
}

.Infoscience .form-group {
	margin-top: 4rem;
}

.Infoscience #advancedOptionsToggle {
    margin: 30px 0 12px 0;
}

/*
 * Export Compare
*/

#compare_and_preview {
    width: 94vw;
    margin-left: 1%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.left-frame-compare {
    border-right: solid 4px;
}

/*
 * Export List
*/ 

.Infoscience .category-content {
	float: left;
}

.Infoscience .category-tools {
	float: right;
}

.Infoscience .category-tools .btn {
	float: right;
	width: 40px;
	margin-left: 20px;
}

/*
 * Export
*/ 

.infoscience_header1 {
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 27px;
    color: #000;
    letter-spacing: 0;
    line-height: 38px;
    padding-top: 0;
    margin-top: 0;
    text-transform: none;
    margin-bottom: 20px;
}

.infoscience_header2 {
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 8px;
    margin-top: 4px;
    line-height: 19px;
    padding-left: 8px;
    padding-bottom: 1px;
    background-color: #F5F5F5;
}

.infoscience_record {
	padding-top: 4px;
	border-bottom: 1px dotted #000;
    margin-top: 8px;
    padding-bottom: 7px;
}

.infoscience_record p {
    margin-top: 9px;
    margin-bottom: 0;
}

.infoscience_record_bulleted .infoscience_bullet {
    float: left;
    text-align: right;
    width: 3em;
}

.infoscience_record_bulleted .infoscience_data {
    margin-left: 4em;
}

.infoscience_record h3.infoscience_title {
	color: #000;
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
    padding-bottom: 3px;
    margin: 0;
    border: none;
}

.infoscience_record span.infoscience_title {
    font-style: italic;
}

.infoscience_record img.record-illustration {
    order: 4;
    align-self: flex-start;
    height: 200px;
	max-width: 100%;
    margin: 15px 0px;
}

.infoscience_record ul.record-metadata {
    padding-left: 0px;
}

.infoscience_record .infoscience_links {
    padding-top: 0px;
    font-size: 11px;
    letter-spacing: 1px;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    clear: left;
}

.infoscience_record .patent-patents-list-left {
    float: left;
}

.infoscience_record .patent-patents-list-right {
    display: inline-block;
    margin-left: 20px;
}

